/* great appreciation for former system designer T.Nagaya */

/* 変数(配色) */

/* #07d372 = hsl(151deg, 93%, 43%) */
/* #00d372 = hsl(152deg, 100%, 41%) */
/* ut.code();のテーマ色: 151deg */
/* TODO: 説明修正 */
:root {
  /* 1rem = 10px となるように変更 */
  font-size: 62.5%;
  /* 諸般 */
  --c-light-0: #fff;
  /* 講義詳細 - 背景 */
  --c-light-1: #f8f8f8;
  /* 講義テーブル, ボタン - 枠線 */
  --c-border-1: #999;
  /* カレンダー, 所属登録画面 - 枠線 */
  --c-border-2: #ccc;
  /* 検索条件ボタン(Ignore), [講義テーブル - ヘッダー] - 背景 */
  --c-dark-2: #666;
  /* 諸般 */
  --c-dark-0: #000;
  /* 所属登録画面, AA画面 - 背景 */
  --c-main-5: hsl(151deg, 53%, 83%);
  /* ヘッダー - 背景 */
  --c-main-1: hsl(151deg, 93%, 43%);
  /* 登録ボタン(登録), 検索条件ボタン(Accept) - 背景; 講義詳細(セクション見出し) - 文字 */
  --c-main-2: hsl(151deg, 93%, 43%);
  /* カレンダー, 講義テーブル - 背景(ホバー) */
  --c-sub-1: hsl(151deg, 93%, 33%);
  /* 検索条件変更ボタン, 所属登録画面ボタン, カレンダー見出し - 背景 */
  --c-main-3: hsl(151deg, 53%, 23%);
  /* 登録ボタン(削除) - 背景 */
  --c-sub-2: hsl(61deg, 93%, 33%);
  /* 単位数 - 文字 */
  --c-stress-1: hsl(1deg, 93%, 53%);;
  /* 登録ボタン(削除) - 背景(ホバー), 講義詳細表示終了ボタン - 背景 */
  --c-cancel: hsl(1deg, 93%, 33%);
}
body {
  font-size: 1.6rem;
}

.c-button-0 {
  --c-base: var(--c-main-3);
}

.c-button-1 {
  --c-dominant: var(--c-main-3);
  --c-base: var(--c-light-0);
  --c-border: var(--c-dominant);
}

/* ボタン関連デザイン */

.b-circle {
  border-radius: 26.5px;
}

button {
  --c-dominant: var(--c-light-0);
  --c-base: var(--c-main-3);
  --c-border: var(--c-base);
}

.f-clickable {
  --c-base: var(--c-light-0);
  --c-border: var(--c-dominant);
}

a, button, .f-clickable {
  border: 1px solid var(--c-border);
  background-color: var(--c-base);
  color: var(--c-dominant);
}
a:hover, button:hover, .f-clickable:hover {
  background-color: var(--c-dominant);
  color: var(--c-base);
}

/* General */

* {
  box-sizing: border-box;
}

[hidden] {
  display: none !important;
}

button, label {
  cursor: pointer;
}

label {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.fullscreen-window {
  position: fixed;
  top: var(--l-header-height);
  bottom: var(--l-footer-height);
  left: 0;
  height: calc(100vh - 50px);
  width: 100vw;
  padding: 10px;
  z-index: 1;
  background-color: var(--c-light-0);
  overscroll-behavior: none;
}

.over-fullscreen-window {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: 3;
  overscroll-behavior: none;
}

/* AA */

#aa-window {
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: var(--c-main-5);
}

#aa-window * {
  margin: auto;
  padding: 10px;
}

#aa-window *:not(button) {
  background-color: var(--c-light-0);
}

#askii-art {
  min-width: 750px;
  line-height: 1;
}

/* ヘッダー, フッター共通項目 */

#global-header, #global-footer {
  position: fixed;
  left: 0;
  width: 100vw;
  margin: 0;
  padding: 0;
  z-index: 2;
  --c-dominant: var(--c-light-0);
  box-shadow: 0 0 8px var(--c-base);
  background-color: var(--c-base);
  font-size: 0;
}

#global-footer a, #global-header span {
  display: inline-block;
  margin: 0;
  padding: 0 15px;
  height: inherit;
}

/* フッター */

:root {
  --l-footer-height: 3rem;
}

#global-footer {
  bottom: 0;
  height: var(--l-footer-height);
  line-height: var(--l-footer-height);
  --c-base: var(--c-dark-2);
  text-align: end;
}

#global-footer a {
  font-size: 1.4rem;
}

/* ヘッダー */

:root {
  --l-header-height: 5rem;
  /* ヘッダー分補正 */
  scroll-padding-top: var(--l-header-height);
}

#global-header {
  top: 0;
  height: var(--l-header-height);
  line-height: var(--l-header-height);
  --c-base: var(--c-main-1);
  color: var(--c-dominant);
}

#global-header span {
  font-size: 1.6rem;
}

#credit-display {
  background-color: var(--c-light-0);
  color: var(--c-dark-0);
}
#credit-counter {
  color: var(--c-stress-1);
}

.header-clickable-icon {
  --c-base: inherit;
  color: transparent;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.header-clickable-icon:hover {
  color: transparent;
}

#settings {
  --c-base: inherit;
}

#global-header button {
  display: inline-block;
  vertical-align: top;
  height: var(--l-header-height);
  line-height: var(--l-header-height);
  border: none;
  font-size: 1.6rem;
}

#search-button {
  background-image: url("./resources/search.svg");
}

/* 設定画面 */

#settings-window * {
  display: block;
  margin: 10px;
  padding: 10px;
}

/* 所属入力画面 */

#status-window {
  /* transition-property: left; */
  /* transition: ease 300ms; */
  background-color: var(--c-main-5);
}

#input-field {
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  position: absolute;
  bottom: 40%;
  left: 20%;
  min-height: 20%;
  min-width: 60%;
  background-color: var(--c-light-0);
}

#input-message {
  display: block;
  padding: 2%;
  width: 100%;
  font-size: 1.8rem;
}

form {
  display: block;
  padding: 2%;
  line-height: 50px;
}

select, #class-number {
  display: inline-block;
  vertical-align: middle;
  height: 40px;
  margin: 2px;
  padding: 5px 10px;
  border: 1px solid var(--c-border-2);
  border-radius: 5px;
  box-shadow: inset 0 1px 2px rgba(255, 255, 255, 0.3), 0 1px 2px rgba(0, 0, 0, 0.4);
  font-size: 1.4rem;
  font-weight: normal;
  overflow: hidden;
  text-shadow: 0 1px 0 var(--c-light-0);
}

#close-status {
  position: absolute;
  bottom: 40px;
  right: 40px;
  padding: 15px;
  font-size: 1.6rem;
}

#autofill-compulsory {
  position: absolute;
  top: 70%;
  right: 30%;
  width: 40%;
  padding: 20px;
  font-size: 2rem;
}

/* レスポンシブ対応メディアクエリ */
/* 講義詳細 */

:root {
  --l-detail-height: 400px;
}
body {
  margin: 0;
  padding: var(--l-header-height) 0 var(--l-footer-height) 0;
}
#detail-window {
  position: relative;
  overflow: scroll;
  background-color: var(--c-light-1);
  color: var(--c-dark-0);
  overscroll-behavior: contain;
}
@media (min-width: 1070px) {
  body {
    max-width: 70%;
    overflow-x: hidden;
  }
  #detail-window {
    position: fixed;
    top: var(--l-header-height);
    left: 70%;
    bottom: var(--l-footer-height);
    width: 30%;
  }
  body::before {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: var(--l-header-height);
    bottom: var(--l-footer-height);
    left: 70%;
    width: 30%;
    background-color: var(--c-light-1);
    content: "ここに講義の詳細が表示されます";
  }
  #detail-button-wrapper {
    flex-direction: column-reverse;
  }
  #detail-remove {
    border-bottom: 1px solid var(--c-border-1);
  }
}
@media (max-width: 1069px) {
  body {
    min-width: 750px;
    overflow-x: scroll;
  }
  #detail-window {
    position: fixed;
    bottom: var(--l-footer-height);
    left: 0;
    max-height: var(--l-detail-height);
    width: 100%;
  }
  #detail-button-wrapper {
    flex-direction: row;
  }
  #detail-header {
    border-top: 1px solid var(--c-border-1);
  }
  #detail-remove {
    border-left: 1px solid var(--c-border-1);
  }
  /* 下側の詳細画面で講義テーブルの一番下が隠れないようにする */
  body:has(#detail-window:not([hidden])) {
    padding-bottom: var(--l-detail-height);
  }
}

#detail-header {
  display: flex;
  position: sticky;
  top: 0;
  margin: 0;
  min-height: 5rem;
  width: 100%;
  z-index: 1;
  background-color: inherit;
  border-bottom: 1px solid var(--c-border-1);
}

#detail-title {
  margin-right: auto;
  padding: 10px;
  font-size: 2.2rem;
  font-weight: bold;
  color: var(--c-dark-0);
}

#detail-button-wrapper {
  display: flex;
  justify-content: space-between;
  border-left: 1px solid var(--c-border-1);
}

#detail-register-box {
  flex: 1 0 0;
  min-width: 6rem;
}

#detail-label {
  border-radius: 0;
  color: var(--c-light-0);
  padding: 0;
}

#detail-remove {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1 0 0;
  height: auto;
  min-width: 6rem;
  padding: 0;
  background-color: transparent;
  color: var(--c-cancel);
  font-size: 3rem;
  font-weight: bold;
  user-select: none;
}
#detail-remove:hover {
  background-color: var(--c-cancel);
  color: var(--c-light-0);
}

#detail-content {
  position: relative;
  padding: 0 10px;
}

section header {
  color: var(--c-main-2);
  font-size: 1.8rem;
}

#detail-content * {
  margin: 10px 0;
}

/* カレンダー, 講義テーブル共通項目 */

th,
td {
  padding: 5px 4px;
  font-size: 1.4rem;
}

/* カレンダー */

#calendar-window {
  padding: 10px;
}

#time-table {
  display: grid;
  grid-template-columns: 43px repeat(5, 1fr);
  width: 100%;
  border: none;
}

#time-table thead,
#time-table tbody,
#time-table tr {
  display: contents;
}
[colspan="5"] {
  grid-column: auto / span 5;
}

#time-table th,
#time-table td {
  margin: 5px;
  min-height: 33px;
  padding: 0;
  border: none;
}

#time-table button {
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  height: 100%;
  width: 100%;
  font-size: inherit;
}

#time-table button,
#time-table label {
  border: 1px solid var(--c-border-2);
  border-radius: 16px;
  cursor: pointer;
  font-weight: normal;
  font-family: inherit;
}

#time-table label {
  flex-direction: column;
  padding: 2px 6px;
  background-color: var(--c-light-1);
}

#time-table thead th:first-child {
  visibility: hidden;
}

.lecture-box {
  /* border: 1px solid var(--c-border-2); */
  border-radius: 12px;
  display: flex;
  /* margin: 4px 0; */
  padding: 6px;
  height: 100%;
  width: 100%;
  align-items: center;
}

#search-status {
  margin: 5px;
  padding: 0 5px;
  border-bottom: 1px solid var(--c-dark-0);
  font-size: 2.2rem;
}

/* カレンダー - ホバー時の挙動 */

#time-table label:hover {
  background-color: var(--c-border-2);
}
#time-table input:checked+label {
  background-color: var(--c-main-2);
  color: var(--c-light-0);
}
#time-table input:checked+label:hover {
  background-color: var(--c-sub-1);
}

/* 講義テーブル */

:root {
  --l-radius: calc(8.5px + 0.5em);
}

#view-table-container {
  padding: 10px;
}

#search-result {
  margin: 0;
  height: 100%;
  width: 100%;
  overflow: scroll;
  text-align: center;
  table-layout: fixed;
  border-spacing: 0.2rem 1rem;
  border: none;
}
#search-result th:first-child, #search-result td:first-child {
  border-top-left-radius: var(--l-radius);
  border-bottom-left-radius: var(--l-radius);
  padding-left: 10px;
}
#search-result th:last-child, #search-result td:last-child {
  border-top-right-radius: var(--l-radius);
  border-bottom-right-radius: var(--l-radius);
}
#search-result th:last-child {
  padding-right: 5px;
}
#search-result th, #search-result td {
  border: none;
}
.semester-col {
  width: 50px; min-width: 50px;
}
.periods-col {
  width: 50px; min-width: 50px;
}
.category-col {
  width: 50px; min-width: 50px;
}
.title-col {
  min-width: 200px;
}
.lecturer-col {
  width: 160px; min-width: 160px;
}
.evaluation-col {
  width: 100px; min-width: 100px;
}
.credits-col {
  width: 50px; min-width: 50px;
}
.registration-col {
  width: 50px; min-width: 50px; padding: 0;
}

/* 講義テーブル: ヘッダー */

#search-result thead {
  background-color: var(--c-dark-2);
  color: var(--c-light-0);
}

/* 講義テーブル: 本体 */

#search-result tbody {
  background-color: var(--c-border-1);
  color: var(--c-light-0);
  cursor: pointer;
}
#search-result tr:has(input:checked) {
  background-color: var(--c-main-2);
}
#search-result tbody tr:hover {
  background-color: var(--c-dark-2);
}
#search-result tr:has(input:checked):hover {
  background-color: var(--c-sub-1);
}

/* 講義テーブル: 本体: 二値ボタン */

.register-button {
  border-top-right-radius: var(--l-radius);
  border-bottom-right-radius: var(--l-radius);
  font-weight: bold;
  user-select: none;
  background-color: var(--c-main-2);
  padding-right: 5px;
}
input:checked+.register-button {
  background-color: var(--c-sub-2);
}
.register-button:hover {
  background-color: var(--c-sub-1);
}
input:checked+.register-button:hover {
  background-color: var(--c-cancel);
}
.register-button::after {
  content: "追加";
}
input:checked+.register-button::after {
  content: "削除";
}

/* 検索画面 */

#search-panel {
  padding: 10px;
}

#search-title {
  margin: 5px;
  padding: 0 5px;
  border-bottom: 1px solid var(--c-dark-0);
  font-size: 2.2rem;
}

/* 検索画面 - ボタン類 */

button.b-button, .b-button>label {
  padding: 5px 10px;
  border-radius: 8px;
  font-size: small;
}

.b-button {
  display: inline-flex;
  margin: 8px 2px;
}

/* 検索画面: フィルタ */
/* TODO: divの繰り返しの解消 */

#search-condition {
  padding: 5px;
  width: fit-content;
  text-align: center;
  font-size: 1.4rem;
  user-select: none;
}

#search-condition>div {
  position: relative;
  height: 53px;
  margin: 5px;
}
#search-condition>div>div {
  display: inline-flex;
  align-items: center;
  height: 100%;
}
.accordion-parent {
  position: absolute;
  left: 63px;
  height: 100%;
  width: max-content;
}
.accordion-child {
  position: relative;
  width: 53px;
  height: 100%;
  display: inline-block;
  margin: 5px;
}

/* 検索画面: フィルタ: ボタン共通項目 */

input:checked+.c-binary, .must {
  --c-dominant: var(--c-main-2);
}
.c-binary, .ignore {
  --c-dominant: var(--c-dark-2);
}
.reject {
  --c-dominant: var(--c-cancel);
}

/* 検索画面: フィルタ: 三値ボタン */

.button-component {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  pointer-events: none;
}
input[type=radio]+label {
  display: none;
}
input[type=radio]:checked+label {
  display: flex;
  pointer-events: auto;
}
