/* great appreciation for former system designer T.Nagaya */

/* AAとの干渉のため、一旦指定を切っています
#search-panel {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 30vh;
} */

* {
  box-sizing: border-box;
}

main {
  /* position: sticky; */
  background-color: white;
  margin: 5px 0;
}

#askii-art {
  line-height: 100%;
}  

#search-status {
  color: mediumblue;
}

/* ヘッダー */

#global-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  line-height: 50px;
  padding: 0 20px;
  color: #fff;
  background-color: #48c;
  box-shadow: 0 0 8px #48c;
}

#global-header a{
  padding: 20px;
  color: #fff;
}

#global-header a:hover{
  color: #48c;
  background-color: #fff;
}

/* 講義詳細(メディアクエリ) */

body {
  left: 0;
  height: 100%;
  margin: 0;
  padding: 50px 0 0 0;
  overflow-x: scroll;
}
#detail-window {
  position: relative;
  background-color: #f4f4f4;
  color: #000;
  overflow: scroll;
}
@media (min-width: 1070px) {
  body {
    max-width: 70%;
  }
  #detail-window {
    position: fixed;
    top: 0;
    left: 70%;
    height: 100%;
    width: 30%;
  }
  #detail-window:empty::after {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    content: "ここに講義の詳細が表示されます";
  }
  #remove-detail {
    top: 0;
    right: 0;
  }
}
@media (max-width: 1070px) {
  /* 拡大したときに授業名が崩れる問題は、ここで全体の最小幅を指定してなんとかしている */
  body {
    min-width: 750px;
  }
  #detail-window {
    position: sticky;
    bottom: 0;
    left: 0;
    max-height: 200px;
    width: 100%;
  }
  #remove-detail {
    top: calc(100vh - 200px);
    right: 0;
  }
}

#detail-content {
  position: relative;
  padding: 0px 10px;
}

#remove-detail {
  position: fixed;
  height: 50px;
  width: 50px;
  margin: 0;
  font-size: 30px;
  border-radius: 0;
  background-color: #c00;
  color: #fff;
}

/* ボタン類 */

button {
  margin: 2px;
  border: 1px solid #888;
  border-radius: 5px; 
  background-color: #8ff;
  cursor: pointer;
}

#hisshu-autofill:not(:hover, :active) {
  background-color: #8f8;
}

button:hover {
  background-color: yellow;
}
button:active {
  background-color: gold;
}

/* カレンダー, 講義テーブル共通項目 */

table,
th,
td {
  padding: 5px 4px;
  border: 1px solid #999;
}

/* カレンダー */

#time-table {
  max-height: 50%;
  width: 100%;
  border-collapse: collapse;
}

#time-table * {
  border: 2px solid #ccc;
}
#time-table tbody tr:last-child {
  border-top: #ccc solid 4px;
}

#time-table th {
  background-color: #36c;
  color: #fff;
}

#time-table thead th:not(:first-child), #intensive {
  cursor: pointer;
}

#time-table thead th:first-child {
  min-width: 50px
}

#time-table td {
  width: 20%;
  color: red;
  cursor: pointer;
}

/* カレンダー - ホバー時の挙動 */

#time-table td:empty::after {
  color: black;
  content: attr(data-default);
}
#time-table td:hover, #time-table thead th:not(:first-child):hover, #intensive:hover {
  background-color: #48f;
  color: #fff;
}
#time-table td:empty:hover::after {
  color: #fff;
}

/* 講義テーブル */

#search-result {
  height: 100%;
  width: 100%;
  margin: 0;
  overflow: scroll;
  border-collapse: collapse;
  font-size: 14px;
  text-align: center;
  table-layout: fixed;
}
#search-result th, #search-result td {
  height: 53px;
}
#search-result th:nth-child(1), #search-result td:nth-child(1) {
  width: 50px; min-width: 50px;
}
#search-result th:nth-child(2), #search-result td:nth-child(2) {
  width: 50px; min-width: 50px;
}
#search-result th:nth-child(3), #search-result td:nth-child(3) {
  width: 50px; min-width: 50px;
}
#search-result th:nth-child(4), #search-result td:nth-child(4) {
  width: calc(100% - 590px); min-width: 200px;
}
#search-result th:nth-child(5), #search-result td:nth-child(5) {
  width: 160px; min-width: 160px;
}
#search-result th:nth-child(6), #search-result td:nth-child(6) {
  width: 100px; min-width: 100px;
}
#search-result th:nth-child(7), #search-result td:nth-child(7) {
  width: 100px; min-width: 100px;
}
#search-result th:nth-child(8), #search-result td:nth-child(8) {
  width: 60px; min-width: 60px;
}
#search-result th:nth-child(9), #search-result td:nth-child(9) {
  width: 60px; min-width: 60px; padding: 0;
}

/* 講義テーブル: 本体 */

#search-result tr:nth-child(2n) {
  background-color: #eee;
}
#search-result tbody tr:hover {
  background-color: cornflowerblue;
  color: white;
}

/* 講義テーブル: 本体: 二値ボタン */

#search-result input[type=checkbox] {
  display: none;
}
.register-button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  color: #0d0;
  font-weight: bold;
  cursor: pointer;
  user-select: none;
}
.register-button:hover {
  background-color: #0d0;
  color: #fff;
}
input[type=checkbox]:checked+.register-button {
  color: #c00;
}
input[type=checkbox]:checked+.register-button:hover {
  background-color: #c00;
  color: #fff;
}
.register-button:not(:hover) {
  background-color: #fff;
}
tr:nth-child(2n) .register-button:not(:hover) {
  background-color: #eee;
}
.register-button::after {
  content: "追加";
}
input[type=checkbox]:checked+.register-button::after {
  content: "削除";
}

/* 講義テーブル: ヘッダー */

#search-result thead {
  position: sticky;
  top: -1px;
  background-color: #acf;
  color: #333;
}

/* 講義テーブル: ヘッダー: フィルタ */

#search-result th {
  padding: 0;
}
details {
  position: relative;
  height: 100%;
  width: 100%;
  cursor: pointer;
  user-select: none;
}
details:hover {
  background-color: aquamarine;
}
summary {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  text-decoration: underline;
}
summary::before {
  content: '';
  display: inline-block;
  width: 15px;
  height: 15px;
  background-image: url("resources/search.svg");
  background-size: contain;
  vertical-align: middle;
}
.accordion-parent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  top: 53px;
  width: 100%;
}
.accordion-child {
  position: relative;
  height: 53px;
  width: 100%;
}
.half {
  height: 26.5px;
}

/* 講義テーブル: ヘッダー: 二値ボタン */

.header-binary-button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  background-color: #666;
  color: #fff;
  cursor: pointer;
}
input[type=checkbox]:checked+.header-binary-button {
  background-color: #0d0;
  color: #fff;
}

/* 講義テーブル: ヘッダー: 三値ボタン */

.button-component {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  pointer-events: none;
}
input[type=radio] {
  display: none;
}
input[type=radio]+label {
  display: none;
}
input[type=radio]:checked+label {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  cursor: pointer;
  pointer-events: auto;
}
.must {
  background-color: #0d0;
  color: #fff;
}
.ignore {
  background-color: #666;
  color: #fff;
}
.reject {
  background-color: #c00;
  color: #fff;
}
