/* great appreciation for former system designer T.Nagaya */

/* TODO: body:has(#view:checked) でView/Editのスタイル付け */

/* 変数(配色) */

/* #07d372 = hsl(151deg, 93%, 43%) */
/* #00d372 = hsl(152deg, 100%, 41%) */
/* ut.code();のテーマ色: 151deg */
/* TODO: 説明修正 */
:root {
  /* 1rem = 10px となるように変更 */
  font-size: 62.5%;
  /* 諸般 */
  --c-mono-0: #fff;
  /* 講義詳細 - 背景 */
  --c-mono-1: #f8f8f8;
  /* カレンダー, 所属登録画面 - 枠線 */
  --c-mono-2: #ccc;
  /* 講義テーブル, ボタン - 枠線 */
  --c-mono-3: #999;
  /* 検索条件ボタン(Ignore), 講義テーブル(本体) - 背景 */
  --c-mono-4: #666;
  /* 講義テーブル - [ヘッダー, 本体(ホバー)] - 背景 */
  --c-mono-5: #333;
  /* 諸般 */
  --c-mono-6: #000;
  /* メインコンテンツ, 所属登録画面, AA画面 - 背景 */
  --c-green-1: hsl(151deg, 23%, 83%);
  /* 登録ボタン(登録), 検索条件ボタン(Accept) - 背景; 講義詳細(セクション見出し) - 文字 */
  --c-green-3: hsl(151deg, 93%, 43%);
  /* カレンダー, 講義テーブル - 背景(ホバー) */
  --c-green-4: hsl(151deg, 93%, 33%);
  /* 検索条件変更ボタン, 所属登録画面ボタン, カレンダー見出し - 背景 */
  --c-green-5: hsl(151deg, 53%, 23%);
  /* 登録ボタン(削除) - 背景 */
  --c-yellow-1: hsl(61deg, 93%, 33%);
  /* 単位数 - 文字 */
  --c-red-1: hsl(1deg, 93%, 53%);
  /* 登録ボタン(削除) - 背景(ホバー), 講義詳細表示終了ボタン - 背景 */
  --c-red-2: hsl(1deg, 93%, 33%);
}
body {
  font-family: sans-serif;
  font-size: 1.6rem;
}

.c-button-1 {
  --c-dominant: var(--c-green-5);
  --c-base: var(--c-mono-0);
  --c-border: var(--c-dominant);
}

/* ボタン関連デザイン */

button.b-button,
.b-button > label {
  padding: 5px 10px;
  border-radius: 8px;
  font-size: 1.3rem;
}

.b-button {
  margin: 4px 2px;
}

.b-button:not(button) {
  display: inline-flex;
}

button {
  --c-dominant: var(--c-mono-0);
  --c-base: var(--c-green-5);
  --c-border: var(--c-base);
}

.f-clickable {
  --c-base: var(--c-mono-0);
  --c-border: var(--c-dominant);
}

a:not(main a),
button,
.f-clickable {
  border: 1px solid var(--c-border);
  background-color: var(--c-base);
  color: var(--c-dominant);
  scroll-behavior: smooth;
}
a:not(main a):hover,
button:hover,
.f-clickable:hover,
a:not(main a):focus,
button:focus,
.f-clickable:focus {
  background-color: var(--c-dominant);
  color: var(--c-base);
}

.f-reset {
  position: absolute;
  bottom: 20px;
  right: 20px;
  border: none;
  text-decoration: underline;
  color: var(--c-mono-4);
  background-color: transparent;
}

/* General */

* {
  box-sizing: border-box;
}

[hidden] {
  display: none !important;
}

button,
label {
  cursor: pointer;
}

label {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

select,
input[type="number"],
input[type="search"] {
  display: inline-block;
  vertical-align: middle;
  height: 3em;
  margin: 2px;
  padding: 5px 10px;
  border: 1px solid var(--c-mono-2);
  border-radius: 5px;
  box-shadow: inset 0 1px 2px rgba(255, 255, 255, 0.3),
    0 1px 2px rgba(0, 0, 0, 0.4);
  font-weight: normal;
  overflow: hidden;
  text-shadow: 0 1px 0 var(--c-mono-0);
}

.fullscreen-window {
  position: fixed;
  top: var(--l-header-height);
  bottom: var(--l-footer-height);
  left: 0;
  height: calc(100vh - var(--l-header-height) - var(--l-footer-height));
  width: 100vw;
  padding: 10px;
  background-color: var(--c-mono-0);
  overscroll-behavior: none;
}

.over-fullscreen-window {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  overscroll-behavior: none;
}

/* オーバーレイ */

#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}

/* AA画面 */

#aa-window {
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: var(--c-green-1);
  overflow-x: scroll;
}

#aa-alert,
#delete-aa {
  margin: auto;
  padding: 10px;
}

#aa-alert,
#askii-art {
  background-color: var(--c-mono-0);
}

#askii-art {
  margin: 0 auto;
  padding: 10px;
  min-width: 750px;
  line-height: 1;
}

/* ヘッダー, フッター共通項目 */

#global-header,
#global-footer {
  position: fixed;
  left: 0;
  width: 100%;
  margin: 0;
  padding: 0;
  z-index: 1;
  box-shadow: 0 0 8px var(--c-base);
  background-color: var(--c-base);
  font-size: 0;
}

span:not(main span),
a:not(main a) {
  display: inline-block;
  padding: 0 1.5rem;
  height: inherit;
}

/* フッター */

:root {
  --l-footer-height: 3rem;
  scroll-padding-bottom: var(--l-footer-height);
}

#global-footer {
  bottom: 0;
  height: var(--l-footer-height);
  line-height: var(--l-footer-height);
  --c-base: var(--c-mono-4);
  --c-dominant: var(--c-mono-0);
  text-align: end;
}

#global-footer > a {
  font-size: 1.4rem;
}

/* ヘッダー */

:root {
  --l-header-height: 5rem;
  scroll-padding-top: var(--l-header-height);
}

#global-header {
  display: flex;
  top: 0;
  height: var(--l-header-height);
  line-height: var(--l-header-height);
  --c-base: var(--c-mono-0);
  --c-dominant: var(--c-mono-4);
  color: var(--c-dominant);
  border-bottom: 1px solid var(--c-green-1);
  box-sizing: content-box;
}

#global-header label,
#global-header > a {
  font-size: 1.6rem;
}

/* ヘッダー - ut.code()ロゴ */

@media (max-width: 40rem) {
  #logo-link {
    display: none;
  }
}

#logo-link {
  padding-right: 0;
  text-decoration: none;
  background-color: var(--c-mono-0);
  color: var(--c-green-3);
}
#logo-link > span {
  padding: 0;
  vertical-align: top;
}
#logo-link > img {
  display: inline-block;
  height: 100%;
  padding: 10px;
}

/* ヘッダー - モード切り替え */

#toggle-mode {
  margin: 0 auto;
}

#toggle-mode div {
  display: inline-block;
}

#toggle-mode label {
  position: relative;
  border: none;
  padding: 0 1.5rem;
  width: 100px;
  --c-base: inherit;
  --c-dominant: inherit;
}
#toggle-mode input:checked+label {
  --c-dominant: var(--c-green-3);
}
#toggle-mode input:checked+label::after {
  position: absolute;
  bottom: 10%;
  border-radius: 5em;
  content: "";
  width: 90%;
  height: 8%;
  background-color: var(--c-dominant);
}

/* ヘッダー - アイコン */

.material-icons {
  --c-base: inherit;
  --c-dominant: inherit;
  border: none;
  min-width: var(--l-header-height);
}

/* メインコンテンツ */

#main-contents {
  background-color: var(--c-green-1);
  padding: 5px 0;
  min-height: calc(100vh - var(--l-header-height) - var(--l-footer-height));
}

#main-contents>section {
  position: relative;
  margin: 20px;
  border-radius: 20px;
  background-color: var(--c-mono-0);
}

#main-contents>section>header {
  margin: 5px;
  padding: 0 5px;
  border-bottom: 1px solid var(--c-mono-6);
  font-size: 2.2rem;
}

/* 設定画面 */

#settings-window button,
#settings-window header {
  margin: 10px;
}

/* 所属登録画面 */

#status-window {
  display: flex;
  flex-direction: column;
  gap: 5%;
  padding: 10% 0 0;
  background-color: var(--c-green-1);
  overflow: scroll;
}

#input-field {
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  margin: auto auto 0;
  padding: 0 1em;
  line-height: 3em;
  background-color: var(--c-mono-0);
}

#personal-status {
  padding-bottom: 1em;
}

#close-status {
  margin: 0 auto auto;
  padding: 15px;
  font-size: 1.6rem;
}

#autofill-compulsory {
  margin: 0 auto;
  max-width: 80%;
  padding: 20px;
  font-size: 2rem;
}

/* レスポンシブ対応メディアクエリ */
/* 講義詳細 */

#detail-remove {
  border: none;
}

:root {
  --l-detail-height: calc(
    min(50rem, calc(80vh - var(--l-header-height))) - var(--l-footer-height)
  );
}
body {
  margin: 0;
  padding: var(--l-header-height) 0 var(--l-footer-height) 0;
  overscroll-behavior: none;
}
#detail-window {
  display: flex;
  flex-direction: column;
  background-color: var(--c-mono-1);
  color: var(--c-mono-6);
  overscroll-behavior: contain;
  border-radius: 30px;
  padding: 20px;
}
/* @media (min-width: 108rem) {
  body {
    max-width: 70%;
    overflow-x: hidden;
  }
  #detail-window {
    position: fixed;
    top: var(--l-header-height);
    left: 70%;
    bottom: var(--l-footer-height);
    width: 30%;
  }
  body::before {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: var(--l-header-height);
    bottom: var(--l-footer-height);
    left: 70%;
    width: 30%;
    background-color: var(--c-mono-1);
    content: "ここに講義の詳細が表示されます";
  }
  #detail-button-wrapper {
    flex-direction: column-reverse;
  }
  #detail-remove {
    border-bottom: 1px solid var(--c-mono-3);
  }
} */

body {
  min-width: 90rem;
  overflow-x: scroll;
}
#detail-window {
  position: fixed;
  top: calc(40px + var(--l-header-height));
  bottom: calc(40px + var(--l-footer-height));
  left: 40px;
  right: 40px;
}
#detail-button-wrapper {
  flex-direction: row;
}

#detail-header {
  display: flex;
  height: max-content;
  margin: 0;
  min-height: 5rem;
  width: 100%;
  background-color: inherit;
}

#detail-title {
  margin-right: auto;
  padding: 10px;
  font-size: 2.8rem;
  color: var(--c-mono-6);
}

#detail-button-wrapper {
  display: flex;
  justify-content: space-between;
}

#detail-register-box {
  flex: 1 0 0;
  min-width: 6rem;
}

#detail-label {
  border-radius: 0;
  color: var(--c-mono-0);
  padding: 0;
}

#detail-remove {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1 0 0;
  height: auto;
  min-width: 6rem;
  padding: 0;
  --c-dominant: var(--c-red-2);
  --c-base: var(--c-mono-1);
  font-size: 3rem;
  font-weight: bold;
  user-select: none;
}

#detail-content {
  overflow: scroll;
  flex-grow: 1;
  flex-basis: 0;
}

#detail-content section {
  padding: 0.5rem 10px 1rem;
}

#detail-content header {
  margin-bottom: 0.5rem;
  font-size: 1.8rem;
  border-bottom: 1px solid var(--c-green-3);
  color: var(--c-green-3);
}

/* カレンダー, 講義テーブル共通項目 */

table {
  font-size: 1.2rem;
}

/* カレンダー */

#calendar-container {
  padding: 10px;
}
body:has(#edit:checked) #calendar-container {
  padding-bottom: 50px;
}

:root {
  --l-calendar-min: 3.2rem;
  --l-calendar-radius: calc(var(--l-calendar-min) / 2);
  --l-calendar-sub-radius: calc(var(--l-calendar-min) * 3 / 8);
}

/* カレンダー - 単位数表示 */

#credit-display {
  position: absolute;
  right: 30px;
  top: 10px;
}
#credit-counter {
  padding: 20px;
  font-size: 1.5em;
  color: var(--c-green-3);
}

#blank-period {
  position: absolute;
  bottom: 10px;
  left: 20px;
}
body:has(#view:checked) #all-period,
body:has(#view:checked) #blank-period {
  display: none;
}

/* カレンダー - セル */

#time-table {
  display: grid;
  grid-template-columns: var(--l-calendar-min) repeat(5, 1fr);
  grid-auto-rows: minmax(var(--l-calendar-min), auto);
  margin: 10px;
}
body:has(#view:checked) #time-table {
  border: 0.5px solid var(--c-green-5);
}
body:has(#edit:checked) #time-table {
  gap: 10px;
}

#time-table thead,
#time-table tbody,
#time-table tr {
  display: contents;
}
[colspan="5"] {
  grid-column: auto / span 5;
}

#time-table th,
#time-table td {
  padding: 0;
  border: none;
}

/* ここまでgrid用テンプレ, ここからデザイン */

body:has(#view:checked) #time-table th button {
  background-color: unset;
  color: unset;
  border: none;
  pointer-events: none;
}

#time-table button {
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  height: 100%;
  width: 100%;
  font-size: inherit;
}

#time-table button,
#time-table label {
  font-family: inherit;
}
body:has(#edit:checked) #time-table button,
body:has(#edit:checked) #time-table label {
  border-radius: var(--l-calendar-radius);
  border: 1px solid var(--c-mono-2);
}

body:has(#view:checked) #time-table th,
body:has(#view:checked) #time-table td {
  border: 1px solid var(--c-mono-4);
}

#time-table label {
  flex-direction: column;
  padding: 4px;
  gap: 4px;
}
body:has(#view:checked) #time-table label {
  pointer-events: none;
}
body:has(#edit:checked) #time-table label {
  background-color: var(--c-mono-1);
}

body:has(#edit:checked) #time-table thead th:first-child {
  visibility: hidden;
}

#time-table .lecture-box {
  padding: 3px 6px;
  border-radius: var(--l-calendar-sub-radius);
}
body:has(#view:checked) #time-table .lecture-box {
  --c-base: var(--c-mono-2);
  --c-dominant: var(--c-mono-5);
  pointer-events: all;
}
body:has(#edit:checked) #time-table .lecture-box {
  border: none;
  background-color: inherit;
  color: inherit;
}

#search-status {
  margin: 5px;
  padding: 0 5px;
  border-bottom: 1px solid var(--c-mono-6);
  font-size: 2.2rem;
}

/* カレンダー - ホバー時の挙動 */

body:has(#edit:checked) #time-table label:hover {
  background-color: var(--c-mono-2);
}
body:has(#edit:checked) #time-table input:checked + label {
  background-color: var(--c-green-3);
  color: var(--c-mono-0);
}
body:has(#edit:checked) #time-table input:checked + label:hover {
  background-color: var(--c-green-4);
}

/* 講義テーブル */

:root {
  --l-radius: calc(5px + max(0.75em, 7.5px));
  --l-edge-padding: 0.35em;
  --l-min-col: max(3.5em, 35px);
}

th,
td {
  padding: 5px 0.25em;
}

#view-table-container {
  padding: 10px;
  min-height: calc(
    100vh - var(--l-footer-height) - var(--l-header-height) - 26.9rem - 91.5px
  );
}
body:has(#view:checked) #view-table-container {
  display: none;
}

#search-result {
  margin: 0;
  height: 100%;
  width: 100%;
  overflow: scroll;
  text-align: center;
  table-layout: fixed;
  border-spacing: 0.2rem 0.75rem;
  border: none;
}
#search-result th:first-child,
#search-result td:first-child {
  border-top-left-radius: var(--l-radius);
  border-bottom-left-radius: var(--l-radius);
  padding-left: var(--l-edge-padding);
}
#search-result th:last-child,
#search-result td:last-child {
  border-top-right-radius: var(--l-radius);
  border-bottom-right-radius: var(--l-radius);
}
#search-result th:last-child {
  padding-right: var(--l-edge-padding);
}
#search-result th,
#search-result td {
  border: none;
}
.semester-col {
  width: var(--l-min-col);
  min-width: var(--l-min-col);
}
.periods-col {
  width: var(--l-min-col);
  min-width: var(--l-min-col);
}
.category-col {
  width: var(--l-min-col);
  min-width: var(--l-min-col);
}
.title-col {
  min-width: 20em;
}
.lecturer-col {
  --l-lecturer: max(11em, 110px);
  width: var(--l-lecturer);
  min-width: var(--l-lecturer);
  word-break: keep-all;
}
.evaluation-col {
  --l-evaluation: max(7em, 70px);
  width: var(--l-evaluation);
  min-width: var(--l-evaluation);
  word-break: keep-all;
}
.credits-col {
  width: var(--l-min-col);
  min-width: var(--l-min-col);
}
.registration-col {
  width: var(--l-min-col);
  min-width: var(--l-min-col);
  padding: 0;
}

/* 講義テーブル: ヘッダー */

#search-result thead {
  background-color: var(--c-mono-5);
  color: var(--c-mono-0);
}

/* 講義テーブル: 本体 */

#search-result tbody {
  background-color: var(--c-mono-4);
  color: var(--c-mono-0);
  cursor: pointer;
}
#search-result tr:has(input:checked) {
  background-color: var(--c-green-3);
}
#search-result tbody tr:hover {
  background-color: var(--c-mono-5);
}
#search-result tr:has(input:checked):hover {
  background-color: var(--c-green-4);
}

/* 講義テーブル: 本体: 二値ボタン */

.register-button {
  border-top-right-radius: var(--l-radius);
  border-bottom-right-radius: var(--l-radius);
  font-weight: bold;
  user-select: none;
  background-color: var(--c-green-3);
  padding-right: var(--l-edge-padding);
}
input:checked + .register-button {
  background-color: var(--c-yellow-1);
}
.register-button:hover {
  background-color: var(--c-green-4);
}
input:checked + .register-button:hover {
  background-color: var(--c-red-2);
}
.register-button::after {
  content: "追加";
}
input:checked + .register-button::after {
  content: "削除";
}

/* 検索画面 */

#search-panel {
  padding: 10px;
}
body:has(#view:checked) #search-panel {
  display: none;
}

#search-keyword form {
  display: flex;
  padding: 5px;
  gap: 10px;
}

#search-keyword header {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.4rem;
}

#do-search-all-label::after {
  content: "対象：科目名のみ";
}
input:checked + #do-search-all-label::after {
  content: "対象：詳細等含む";
}

/* 検索画面: ボタン類配置 */

:root {
  --l-grid: max(3em, 30px);
}

.b-circle {
  border-radius: calc(var(--l-grid) / 2);
}

#search-condition {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding: 5px;
  font-size: 1.4rem;
  user-select: none;
}

#search-condition > section {
  display: flex;
  align-items: start;
  width: fit-content;
}

#search-condition header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: var(--l-grid);
  width: max(5em, 50px);
}

.internal-header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.accordion-parent {
  display: grid;
  gap: 5px;
  grid-auto-rows: var(--l-grid);
}
#semester {
  grid-template-columns: repeat(4, var(--l-grid));
  grid-template-rows: repeat(2, var(--l-grid));
  grid-auto-flow: column dense;
}
#semester > :nth-child(3n + 1) {
  grid-column: auto / span 2;
}
#evaluation {
  grid-template-columns: repeat(5, var(--l-grid));
  grid-template-rows: repeat(3, var(--l-grid));
  grid-auto-flow: column;
}
#evaluation input:checked+label::after {
  content: "✓";
  font-size: 2em;
}
#evaluation>.internal-header:first-child {
  grid-row-start: 2;
}
#category {
  grid-template-columns: repeat(8, var(--l-grid));
}
#category > :nth-child(-n + 4) {
  grid-column: auto / span 2;
}
#registration {
  grid-template-columns: repeat(2, var(--l-grid));
}

.accordion-child {
  position: relative;
}

/* 検索画面: フィルタ: ボタン共通項目 */

input:checked+.c-binary {
  --c-dominant: var(--c-green-3);
}
.c-binary {
  --c-dominant: var(--c-mono-4);
}
input:checked+.reject {
  --c-dominant: var(--c-red-2);
}

/* 検索画面: フィルタ: 三値ボタン */

.button-component {
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  pointer-events: none;
}
.button-component input[type=checkbox]+.f-clickable {
  display: flex;
  pointer-events: auto;
}

/* ローディング画面 */

/* Got from https://projects.lukehaas.me/css-loaders/ */

#loading-message {
  margin: 0;
  padding-top: 50px;
  font-size: 2rem;
  text-align: center;
  z-index: 1;
  background-color: var(--c-mono-0);
}

#loader,
#loader:after {
  border-radius: 50%;
  width: 10em;
  height: 10em;
}
#loader {
  margin: 60px auto;
  font-size: 10px;
  position: relative;
  text-indent: -9999em;
  border-top: 1.1em solid rgba(0, 211, 114, 0.2);
  border-right: 1.1em solid rgba(0, 211, 114, 0.2);
  border-bottom: 1.1em solid rgba(0, 211, 114, 0.2);
  border-left: 1.1em solid rgb(0, 211, 114);
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;
}
@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

/* 付随文書 */

main {
  padding: 0 10px;
}

h1 {
  border-bottom: 2px solid var(--c-green-3);
}
